In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option ('display.max_columns',None)

In [27]:
marketing = pd.read_csv('/content/drive/MyDrive/Dataset/marketing_campaign_data.csv',index_col=0)
marketing.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,S1,Lajang,58138000.0,0,0,04-09-2012,58,635000,88000,546000,172000,88000,88000,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,S1,Lajang,46344000.0,1,1,08-03-2014,38,11000,1000,6000,2000,1000,6000,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,S1,Bertunangan,71613000.0,0,0,21-08-2013,26,426000,49000,127000,111000,21000,42000,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,S1,Bertunangan,26646000.0,1,0,10-02-2014,26,11000,4000,20000,10000,3000,5000,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,S3,Menikah,58293000.0,1,0,19-01-2014,94,173000,43000,118000,46000,27000,15000,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [28]:
marketing.info()
# terdapat missing data pada kolom income
# hanya perlu diberi perubahan type data pada kolom dt-customer objek-> date

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntCoke              2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 525.0+ KB

In [29]:
marketing.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntCoke                 0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [30]:
# cross cek data duplicated sebelum drop kolom ID
marketing.duplicated().sum()

0

In [ ]:
# melakukan imputasi data kosong
marketing.Income = marketing.Income.fillna(0)

# mengubah type data
marketing.Dt_Customer= pd.to_datetime(marketing.Dt_Customer)

# membuat kolom Usia
marketing['Year_cust'] = marketing['Dt_Customer'].dt.year
marketing['Age'] = marketing['Year_cust'] - marketing['Year_Birth']

# mengelompokan group usia
marketing['Group_Age'] = marketing['Age'].apply(lambda x: 'Teenger' if x <= 30 else
                                        'Middle age' if x <= 50 else
                                        'Adult' if x <= 65
                                        else 'Ederly')
# membuat kolom total anak
marketing['Ttl_Child'] = marketing['Kidhome'] + marketing['Teenhome']

# melakukan mapping pada kolom Marital
mapping_marital = {'Menikah':'Menikah','Bertunangan':'Bertunangan','Lajang':'Lajang','Cerai':'Cerai','Janda':'Cerai','Duda':'Cerai'}
marketing['Marital_Status'] = marketing['Marital_Status'].map(mapping_marital)

In [32]:
# membuang kolom yang tidak diperlukan
marketing= marketing.drop(columns=['ID','Year_Birth','Kidhome','Teenhome','Year_cust','Z_Revenue','Z_CostContact'], axis=1)

In [33]:
# cross cek data duplicated
marketing.duplicated().sum()

184

In [34]:
# membuang data yang duplikat
marketing= marketing.drop_duplicates()

In [36]:
marketing.head()

,Education,Marital_Status,Income,Dt_Customer,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,Group_Age,Ttl_Child
0,S1,Lajang,58138000.0,2012-04-09,58,635000,88000,546000,172000,88000,88000,3,8,10,4,7,0,0,0,0,0,0,1,55,Adult,0
1,S1,Lajang,46344000.0,2014-08-03,38,11000,1000,6000,2000,1000,6000,2,1,1,2,5,0,0,0,0,0,0,0,60,Adult,2
2,S1,Bertunangan,71613000.0,2013-08-21,26,426000,49000,127000,111000,21000,42000,1,8,2,10,4,0,0,0,0,0,0,0,48,Middle age,0
3,S1,Bertunangan,26646000.0,2014-10-02,26,11000,4000,20000,10000,3000,5000,2,2,0,4,6,0,0,0,0,0,0,0,30,Teenger,1
4,S3,Menikah,58293000.0,2014-01-19,94,173000,43000,118000,46000,27000,15000,5,5,3,6,5,0,0,0,0,0,0,0,33,Middle age,1

### Label Encoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
kateg = marketing[['Education','Marital_Status','Group_Age']]
name_col =['Education','Marital_Status','Group_Age']

encoder= OneHotEncoder(sparse=False)
one_hot = pd.DataFrame(encoder.fit_transform(kateg),
                       columns=encoder.get_feature_names_out(name_col))

### Satndarisasi

In [41]:
from sklearn.preprocessing import StandardScaler
numeric = marketing.select_dtypes(exclude=['object','datetime64'])
scaler = StandardScaler()
df_scale = pd.DataFrame(scaler.fit_transform(numeric),
                        columns = numeric.columns)

In [ ]:
# mengganbung kedua df
df_comb = pd.concat([df_scale,one_hot], axis=1)